@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(96, 51, 51);
}

button {
    background-color: #0088a9;
}

.logo, li, a, button, .LeadText, div {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f9faf8;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo  {
    cursor: pointer;
}

.NavLinks {
    list-style: none;
}

.NavLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.NavLinks li a {
    transition: all 0.3s ease 0s;
}
.NavLinks li a:hover {
    color: #0088a9;
}

.LeadContainer {
    background-color: #28474f;
    display: flex;
    padding: 30px 10%;
    gap: 2rem;  
}

.LeadContainer img {
    width: 300px;
    height: auto; 
    border: 10px solid black;
}

.LeadContainer button {
    margin: 10px;
}

.LeadTitle {
    margin: 15px;
}

.LeadText {
    flex-direction: column;
    padding: 100px 10%;
    border: 10px solid black;
}

.LeadText, .LeadTitle, .LeadBody {
    background-color: #28474f;
}

.InfoContainer, .photos{
    background-color: rgb(3, 45, 31);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 40%;
    gap: 2rem;
}

.photos div img p{
    background-color: rgb(3, 45, 31);
}

.InfoContainer img {
    width: 200px;
    height: auto; 
    border: 10px solid black;
}

