@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(96, 51, 51);
}

button {
    background-color: #0088a9;
    border-radius: 20px;
    padding: 13px;
}

.logo, li, a, button, .LeadText, div {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f9faf8;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo  {
    cursor: pointer;
}

.NavLinks {
    list-style: none;
}

.NavLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.NavLinks li a {
    transition: all 0.3s ease 0s;
}
.NavLinks li a:hover {
    color: #0088a9;
}

.LeadContainer {
    background-color: #28474f;
    display: flex;
    padding: 30px 10%;
    gap: 2rem;  
}

.LeadContainer img {
    width: 300px;
    height: auto; 
    border: 10px solid black;
    border-radius: 25px;
}

.LeadContainer button {
    margin: 10px;
}

.LeadTitle {
    margin: 15px;
}

.LeadText {
    flex-shrink: 1;
    flex-direction: column;
    padding: 100px 10%;
    border: 10px solid black;
    text-align: center;
}

.LeadText, .LeadTitle, .LeadBody {
    background-color: #28474f;
}

.InfoContainer, .photos{
    background-color: rgb(3, 45, 31);
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    padding: 10px 40%;
    gap: 2rem;
    text-align: center;
}

div.photos > *, div.SubPhotos > * {
    background-color: rgb(3, 45, 31);
}

.InfoContainer img {
    width: 200px;
    height: auto; 
    border: 10px solid black;
    border-radius: 25px;
}

.QuoteContainer, .SubQuote {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.Quote{
    color: #260935;
    font-style: italic;
    margin: 40px;
    padding: 30px;
    text-align: left;
    background-color: #E5E7EB;
}

.Abe {
    background-color: #E5E7EB;
    text-align: right;
    padding: 30px;
    font-weight: bolder;
}

.lowbackground {
    display: flex;
    background-color: rgb(158, 180, 180);
}

.ActionContainer {
    display: flex;
    justify-content: center;
    margin: 30px 10%;
}

.ActionContainer, .ActionBody, .ActionTitle, .ActionText{
    background-color: darkcyan;
    justify-content: center;
    border-radius: 10px;
}

.ActionText {
    padding: 30px;
    text-align: left;
}

.ActionContainer button {
    background-color: #260935;
    width: 10em;
    margin: 40px;
}

footer p {
    padding: 20px;
    text-align: center;
    color: rgba(245, 245, 245, 0.61);
    font-size: smaller;
}